<!DOCTYPE html>
<html lang="en"

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download files</title>
    <link rel = "icon" href = "/img/title.png" type = "image/x-icon">
    <link rel="stylesheet" href="/css/mdb.min.css">
</head>
<body>
    <table class="table table-striped">
        <thead class="table-dark">
            <th scope="col">File Name</th>
            <th scope="col">Download Button</th>
        </thead>
        <tbody>
            <tr th:if="${files.empty}" class="table-danger">
                <td colspan="2" scope="row">No files to download!</td>
            </tr>
            <tr th:each="file:${files}" scope="row">
                <td><span th:text="${file}">File Name</span></td>
                <td><a th:href="@{'/getfiles/'+${file}}" th:text="Download" class="btn btn-primary">File download link</a></td>
            </tr>
        </tbody>
    </table>

    <script src="/js/mdb.min.js" type="text/javascript"></script>
</body>
</html>
</body>
</html>